<script type="text/javascript">
  $(function () {
    $("#task_recurrence_type").change(function () {
        const category = $(this).val().toLowerCase();
        if (category != "") {
          $(".toggle").show();
          $('.separation_unit').text(category.substr(0, category.length-2).replace('i', 'y')+'s');
          $('.due_date').text("First due on");
        } else {
          $(".toggle").hide();
          $('.due_date').text("Due on");
        }
    });
  });
</script>

<%= form_with(model: task, url: group_tasks_path) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :recurrence_type %>
    <%= form.select :recurrence_type, options_for_select([["None", ""], "Daily", "Weekly", "Monthly", "Yearly"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="field">
    <%= form.label 'Due on', :class => 'due_date' %>
    <%= form.date_field :due_date, :value => Time.now.strftime('%Y-%m-%d') %>
  </div>
  
  <div class="field toggle" style="display:none">
    <%= form.label "Repeat every" %>
    <%= form.number_field :separation, :value => 1 %>
    <%= form.label 'daily', :class => 'separation_unit' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
