<%= form_with(model: task, url: group_tasks_path) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <tr class="field">
    <td>
    <%= form.label :due_date %>
    </td>
    <td>
    <%= form.date_field :due_date, :value => Time.now.strftime('%Y-%m-%d') %>
    </td>
  </tr>

  <tr class="field">
    <td>
    <%= form.label :recurrence_type %>
    </td>
    <td>
    <%= form.select :recurrence_type, options_for_select([["None", ""], "Daily", "Weekly", "Monthly", "Yearly"]), :class => 'genForm_dropBox' %>
    </td>
  </tr>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
