<script type="text/javascript">
  $(function () {
    $("#task_recurrence_type").change(function () {
        const category = $(this).val().toLowerCase();
        if (category != "") {
          $(".toggle").show();
          $('.separation_unit').text(category.substr(0, category.length-2).replace('i', 'y')+'s');
          $('.due_date').text("First due on");
        } else {
          $(".toggle").hide();
          $('.due_date').text("Due on");
        }
    });
  });

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<%= form_with(model: task, url: group_tasks_path) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label 'Due on', :class => 'due_date' %>
    <%= form.date_field :due_date, :value => (Time.now+1.days).strftime('%Y-%m-%d') %>
  </div>

  <div class="field">
    <%= form.label :recurrence_type %>
    <%= form.select :recurrence_type, options_for_select([["None", ""], "Daily", "Weekly", "Monthly", "Yearly"]), :class => 'genForm_dropBox' %>
  </div>
  
  <div class="field toggle" style="display:none">
    <%= form.label "Repeat every" %>
    <%= form.number_field :separation, :value => 1 %>
    <%= form.label 'days', :class => 'separation_unit' %>
  </div>
  
  <div class="field toggle pl-2" style="display:none">
    <%= form.label "(Optional) Repeat until:" %>
    <%= form.date_field :repeat_until %>
  </div>
  
  <div class="field toggle pl-2" style="display:none">
    <%= form.label "(Optional) Repeat for" %>
    <%= form.number_field :quantity %>
    <%= form.label(nil, 'occurrences') %>
  </div>

  <details>
    <summary>Advanced settings</summary>
    
    <div class="field px-2"
      data-toggle="tooltip" 
      data-placement="right" 
      title="All task instances will be auto-assigned to this user. Individual instances can be customized."
      style="width:max-content">
        <%= form.label 'Default assignee' %>
      <%= form.collection_select :user_id, @group.users.order(:last_name), :id, :full_name, include_blank: true %>
    </div>

    <div class="field px-2"
        data-toggle="tooltip" 
        data-placement="right" 
        title="For recurring tasks where you only want a reminder a few days in advance - for example, a monthly recurring task you only want to be reminded of for the 5 days before it's due"
        style="width:max-content">
        <%= form.label 'Hide until' %>
      <%= form.number_field :visibility_delay, :default => nil %>
      days
    </div>
  </details>

  <div class="actions">
    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>