<script type="text/javascript">
  $(function () {
    $("#task_recurrence_type").change(function () {
        const category = $(this).val().toLowerCase();
        if (category != "") {

          $(".hide").children().show();
          const toShow = '.'+category;

          $('.hide').children().not($(toShow)).hide();
          $('.always').show();

          $('.separation_unit').text(category.substr(0, category.length-2).replace('i', 'y')+'s');
          $('.due_date').text("Starting on");
        } else {
          $(".hide").children().hide();
          $('.due_date').text("Due on");
        }
    });
  });
</script>

<%= form_with(model: task, url: group_tasks_path) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :recurrence_type %>
    <%= form.select :recurrence_type, options_for_select([["None", ""], "Daily", "Weekly", "Monthly", "Yearly"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="field">
    <%= form.label 'Due on', :class => 'due_date' %>
    <%= form.date_field :due_date, :value => Time.now.strftime('%Y-%m-%d') %>
  </div>
  
  <div class="hide">
    <div class="field always" style="display:none">
      <%= form.label "Repeat every" %>
      <%= form.number_field :separation, :value => 1 %>
      <%= form.label 'daily', :class => 'separation_unit' %>
    </div>

    <div class="field weekly" style="display:none">
      <%= form.label :day_of_week %>
      <%= form.select :day_of_week, options_for_select([["Monday", 1], ["Tuesday", 2], ["Wednesday", 3], ["Thursday", 4], ["Friday", 5], ["Saturday", 6], ["Sunday", 7]]), :class => 'genForm_dropBox' %>
    </div>

    <div class="field monthly yearly" style="display:none">
      <%= form.label :day_of_month %>
      <%= form.number_field :day_of_month, in: 1..31 %>
    </div>

    <div class="field yearly" style="display:none">
      <%= form.label :month_of_year %>
      <%= form.number_field :month_of_year, in: 1..12 %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
