<div class="table-responsive text-center table-striped">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Due date</th>
        <th>Recurrence</th>
        <th>Assignee</th>
        <th>Done?</th>
      </tr>
    </thead>

    <tbody>
      <% tasks.each do |instance| %>
        <tr>
          <td><%= link_to "#{instance.task.title}", group_task_path(instance.group, instance.task) %></td>
          <td><%= instance.due_date %></td>
          <td><%= instance.task.recurrence_type %></td>
          <td><%= instance.user&.full_name %></td>
          <td>
            <%= button_to 'Mark done', group_task_complete_path(instance.task.group, instance.task), class:"btn btn-success btn-sm", method: :put %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
