<div class="table-responsive text-center">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Due date</th>
        <th>Recurrence</th>
        <th>Assignee</th>
        <th>Done?</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <% tasks.each do |instance| %>
        <tr>
          <td><%= link_to "#{instance.task.title}", group_task_path(instance.task) %></td>
          <td><%= instance.due_date %></td>
          <td><%= instance.task.recurrence_type %></td>
          <td><%= instance.user %></td>
          <td>
            <%= form_for(edit_group_task_path(instance), :method => :put, :remote => true) do |f| %>
              <div class="field">
                <%= f.check_box :complete, :onchange => ("this.form.submit()") %> <br />
              </div>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_group_task_path(group_id:instance.group.id, id:instance.task.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
