<% if !@task.current_instance&.complete %>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">
        <%= @task.title %>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= @task.description %>
      </h6>

      <% if @task.current_instance.notes %>
        <p class="card-text">
          <%= @task.current_instance.notes %>
        </p>
      <% end %>

      <p class="card-text">

        <% if @task.current_instance.user == current_user %>
          Assigned to me
        <% elsif @task.current_instance.user %>
          Current assignee: <%= @task.current_instance.user&.full_name %>
        <% else %>
          Currently unassigned
        <% end %>
      </p>
      
      
      <% if @task.current_instance.user == current_user %>
        <%= button_to 'Mark done', group_task_complete_path(@task.group, @task), class:"btn btn-primary", method: :put %>
      <% else %>
        <%= button_to 'Assign to me', group_task_claim_path, class:"btn btn-primary", method: :put %>
      <% end %>

    </div>
  </div>
<% end %>

<% if @task.completed_instances.any? %>
  <h3>Past occurrences:</h3>
  <%= render 'list_instances', instances: @task.completed_instances %>
<% end %>

<%= link_to 'Edit', edit_group_task_path(@group, @task) %> |
<%= link_to 'Back', group_path(@group) %>
