<div class="table-responsive text-center">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% group.user_group_assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.user.full_name %></td>
          <td><%= assignment.user.email %></td>
          <td><%= assignment.user.is_admin?(group) ? 'Admin' : 'Member'%></td>
          <td>
            <%= button_to 'Remove from group', leave_group_path(id: assignment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h4>Invite a new member to the group:</h4>
<%= form_with model: group, url: join_group_path, method: :post do |form| %>
  <%= form.hidden_field :id %>

  <div class="field">
    <%= form.text_field :email, placeholder: "User's email" %>
  </div>

  <div class="actions">
    <%= form.submit 'Send invite' %>
  </div>
<% end %>
