<h1>Manage membership</h1>
<%= render 'members', group: @group %>
<hr>

<h1>Edit group info</h1>
<%= render 'form', group: @group %>

<hr>

<%= button_to 'Delete group', @group, method: :delete, 
    data: { confirm: 'Are you sure? This will also delete all related tasks & role assignments' },
    class:"btn btn-danger" %>

<br/>
<br/>

<div>
  <%= link_to 'Show', @group %> |
  <%= link_to 'Back', groups_path %>
</div>
