<h1>Groups</h1>

<% @groups.each do |group| %>
  <div class="card text-center mb-4">
    <div class="card-body">
      <h5 class="card-title">
        <%= group.title %>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= group.description %>
      </h6>

      <div class="btn-group">
        <% if current_user.is_admin?(group) %>
          <%= button_to 'Admin', edit_group_path(group), class:"btn btn-warning mr-2", method: :get %>
        <% end %>
        <%= button_to 'Show', group, class:"btn btn-success", method: :get %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Create a new group', new_group_path %>
<br>
<%= link_to 'Join another group', join_group_path %>
